Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*
WarningsAsErrors: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*
HeaderFilterRegex: '^(src|include)/'
FormatStyle: file