name: docker and application build

env: 
  DEV_IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/felztrace-dev:latest
  RUNTIME_IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/felztrace-runtime:latest

on:
  push:
    paths:
      - 'src/**'
      - 'include/**'
      - 'CMakeLists.txt'
      - 'docker/**'
      - '.github/workflows/build.yml'
  pull_request:
    paths:
      - 'src/**'
      - 'include/**'
      - 'CMakeLists.txt'
      - 'docker/**'
      - '.github/workflows/build.yml'

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Detect docker changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            docker:
              - 'docker/**'
              - '.github/workflows/build.yml'
          
      - name: Log in to GitHub Container Registry
        if: steps.changes.outputs.docker == 'true'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        if: steps.changes.outputs.docker == 'true'
        run: docker build --target builder -t "$DEV_IMAGE_NAME" -f docker/Dockerfile .

      - name: Push image to GitHub Container Registry
        if: steps.changes.outputs.docker == 'true' && github.event_name == 'push'
        run: docker push "$DEV_IMAGE_NAME"

  build-app:
    needs: docker-build-and-push
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    
      - name: Check clang-format
        run: |
          git ls-files '*.cpp' '*.h' '*.hpp' \
            | xargs clang-format --dry-run -Werror

      - name: pull and and build app inside dev container
        run: |
          docker pull "$DEV_IMAGE_NAME"
          docker run --rm -v "$PWD":/repository "$DEV_IMAGE_NAME"
      
      - name: build and push runtime container
        run: docker build --target runtime -t "$RUNTIME_IMAGE_NAME" -f docker/Dockerfile .
          
      - name: Push runtime image to GitHub Container Registry (only main branch)  
        if: steps.changes.outputs.docker == 'true' && github.event_name == 'push' && github.ref == 'refs/heads/main'  
        run: docker push "$RUNTIME_IMAGE_NAME"
