name: docker and application build

env: 
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/felztrace-dev:latest

on:
  push:
    paths:
      - 'src/**'
      - 'include/**'
      - 'CMakeLists.txt'
      - 'docker/**'
      - '.github/workflows/docker.yml'
  pull_request:
    paths:
      - 'src/**'
      - 'include/**'
      - 'CMakeLists.txt'
      - 'docker/**'
      - '.github/workflows/docker.yml'

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Detect docker changes
        id: changed
        run: |
          echo "Checking docker changes..."

          if [ "${{ github.event_name }}" = "push" ]; then
            base="${{ github.event.before }}"
            head="${{ github.sha }}"
          elif [ "${{ github.event_name }}" = "pull_request" ]; then
            base="${{ github.event.pull_request.base.sha }}"
            head="${{ github.event.pull_request.head.sha }}"
          else
            echo "Unsupported event: ${{ github.event_name }}"
            echo "docker_changed=false" >> "$GITHUB_OUTPUT"
            exit 0
          fi

          if git diff --name-only "$base" "$head" \
            | grep -qE '^docker/|\.github/workflows/docker\.yml'
          then
            echo "docker_changed=true" >> "$GITHUB_OUTPUT"
          else
            echo "docker_changed=false" >> "$GITHUB_OUTPUT"
          fi
          
      - name: Log in to GitHub Container Registry
        if: steps.changed.outputs.docker_changed == 'true'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        if: steps.changed.outputs.docker_changed == 'true'
        run: docker build -t "$IMAGE_NAME" -f docker/Dockerfile .

      - name: Push image (only on main)
        if: steps.changed.outputs.docker_changed == 'true' && github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: docker push "$IMAGE_NAME"

  check-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read   # allow reading GHCR metadata

    outputs:
      image_exists: ${{ steps.check.outputs.exists }}

    steps:
      - name: Check if image exists in Registry
        id: check
        run: |
          OWNER="${{ github.repository_owner }}"
          IMAGE_VERSION="latest"
          IMAGE_NAME="felztrace-dev"
          TOKEN="${{ secrets.GITHUB_TOKEN }}"

          URL_CONTAINER="https://api.github.com/users/$OWNER/packages/container/${IMAGE_NAME}/versions"


          echo "Checking Registry for image '${IMAGE_NAME}' with '${IMAGE_VERSION}' under owner '${OWNER}'..."

          # Try container
          RESP_USER=$(curl -s -H "Authorization: Bearer ${TOKEN}" -H "Accept: application/vnd.github+json" "${URL_CONTAINER}")
          if echo ${RESP_USER} | grep -q "\"tags\": \[ \"${IMAGE_VERSION}\" \]"; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
            exit 0
          fi

          echo "Image not found in Registry."
          echo "exists=false" >> "$GITHUB_OUTPUT"
          exit 1

      - name: Show result
        run: echo "Image exists? ${{ steps.check.outputs.exists }}"

  cmake-build:
    needs: [docker-build-and-push, check-image]
    if: needs.check-image.outputs.image_exists == 'true'
    runs-on: ubuntu-latest

    # Run this job inside the image from GHCR
    container:
      image: ghcr.io/${{ github.repository_owner }}/felztrace-dev:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Configure (CMake)
        run: |
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: |
          cmake --build build --config Release -- -j"$(nproc)"

      - name: Run app
        run: |
          ./build/FelzTrace
